.button
	position: relative
	display: inline-block
	padding: 0.58em 1em
	background-color: $green
	color: #fff !important
	margin-right: em(10px)
	text-decoration: none !important

	.no-touch &
		+transition-property(background-color)
		+transition-duration($trans-time)

	.is-active &,
	.no-touch &:hover,
	&.active
		background-color: scale-lightness($green, -15%)

	&.grey
		background-color: $grey !important

		.no-touch &:hover,
		&.active
			background-color: scale-lightness($grey, -15%) !important

	&.large
		padding: 0.9em em(14px)

	&.arrow
		padding-right: (1em + em(31px))
		cursor: pointer

		&:before
			content: ''
			position: absolute
			right: 0
			top: 0
			bottom: 0
			margin-left: 1px
			width: em(30px)
			background-color: inherit
			border-left: 1px solid #fff

		&:after
			content: ''
			position: absolute
			right: 0
			top: 50%
			width: 0
			height: 0
			margin:
				top: em(-3px)
				right: em(10px)
			+triangle(bottom, #fff, em(5px), em(8px))

	&.plus
		padding-left: em(14px + 30)

		span
			display: block
			position: absolute
			top: 0
			left: 0
			bottom: 0
			width: em(30px)
			border-right: 1px solid #fff

			&:after,
			&:before
				content: ''
				position: absolute

			&:after
				left: em(14px)
				top: em(5px)
				bottom: em(5px)
				width: em(2px)
				background-color: #fff

			&:before
				top: em(14px)
				left: em(5px)
				right: em(5px)
				height: em(2px)
				background-color: #fff

		&.large
			padding-left: em(14px + 40)

			span 
				width: em(40px)

				&:after
					left: em(19px)
					top: em(6px)
					bottom: em(6px)
					width: em(2px)

				&:before
					left: em(6px)
					top: em(19px)
					right: em(6px)
					height: em(2px)
