footer
    background-color: $grey-light
    color: $grey-dark

.footer__inner
    text-align: center
    padding: 1em 0
    @extend .group

    +media(min, $tablet)
        text-align: left

.footer__left-block
    margin-bottom: 0.5em

    +media(min, $tablet)
        +grid(1,2)
        float: left

.footer__right-block

    +media(min, $tablet)
        +grid(1,2)
        float: right
        text-align: right