input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
textarea
    outline: none
    display: block
    box-sizing: border-box
    width: 100%
    margin: 0
    padding: 10px
    border: 0
    border-radius: 0
    background: #EEE
    font-size: 100%
    line-height: 24px
    -webkit-appearance: none
    +transition( background-color 300ms ease-out )



input[type="submit"]
    cursor: pointer
    margin: 0
    padding: 13px 20px
    border: 2px solid #444
    border-radius: 0
    background-color: #444
    color: #FFF
    font-size: 12px
    font-weight: 600
    text-transform: uppercase
    -webkit-appearance: none
    +transition( background-color 300ms ease-out )
