.mobile-site-header
    background-color: $grey-light
    color: $grey-dark
    border-bottom: 1px solid $grey-dark

    a
        color: $grey-dark

    ._logo
        background: url('../img/grizzly-icon-new.jpg') left top no-repeat
        background-size: 100% 100%
        float: left
        width: 42px
        height: 42px
        margin: em(16px) 0 0 em(14px)
        display: inline-block

        +media(min, $tablet)
            margin: em(2px) 0 0 em(2px)

    +media(min, $tablet)
        padding: 10px


.mobile-site-header-fixed
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 100

    +media(min, $tablet)
        padding: 0
        height: 46px


.m-main-navigation
    position: static
    float: right

    +media(min, $tablet)
        position: relative

    .menu-toggle
        display: block
        color: inherit
        +transition(none)
        padding: em(16px) em(14px) em(12px)

        i
            position: relative
            top: 3px
            line-height: 1em


        +media(min, $tablet)
            display: none

    ul
        +media(minmax, 0, $tablet)
            z-index: 20
            position: absolute
            left: 0
            width: 100%
            background-color: $grey-light
            max-height: 0
            overflow: hidden
            +transition-property(max-height)
            +transition-duration($trans-time)

    li
        border-top: 1px solid #dadada

        +media(minmax, 0, $tablet)
            position: relative
            width: 100%
            display: block

        +media(min, $tablet)
            display: inline-block
            border-top: none

        a
            display: block
            line-height: 1.2em
            font-size: em(20px)
            padding: em(8px)

            +media(min, $tablet)
                font-size: em(16px)






