.panel-instagram
    +grid(1,1)
    background-color: $grey-dark

    img
        width: 90%
        margin: 0 auto

    h2
        color: #fff
        text-align: center
        font-size: em(32px)
        margin-bottom: em(18px)

.panel-instagram__inner
    padding: 2em 0
    @extend .group

.panel-instagram__block
    margin-bottom: 1em

    +media(min, $mobile-landscape)
        +grid(1,2)
        float: left

        img
            width: 100%

    +media(min, $tablet-large)
        +grid(1,3)