.panel-two
    background-color: $grey-dark
    color: $grey-light
    min-height: inherit
    +grid(1,1)

    .button
        margin-top: em(12px)

.panel-two__inner
    padding: 5em 0
    text-align: center

    +media(min, $tablet)
        margin: 0 auto
        width: 75%