.panel-one
    background-color: $grey-light
    color: $grey-dark

.panel-one__block-left
    +grid(1,1)
    padding-bottom: 1em

    .button
        margin-top: em(12px)

    +media(min, $tablet)
        +grid(1,2)
        float: left
        padding-top: 1em

.panel-one__block-right
    +grid(1,1)
    padding-top: 1em
    margin-bottom: 1em

    img
        margin: 0 auto

    +media(min, $tablet)
        +grid(1,2)
        float: right