.panel-contact
    +grid(1,1)
    background-color: $grey

    input
        margin-bottom: 1em

    textarea
        resize: none
        margin-bottom: 1em


.panel-contact__content
    color: #fff
    padding: 2em 0
    text-align: center

    +media(min, $tablet)
        margin: 0 auto
        width: 75%

.panel-contact__form
    @extend .group

.panel-contact__fields-col
    +media(min, $tablet)
        +grid(1,3)
        float: left