.panel-social
    background-color: $grey
    +grid(1,1)

    .fa-ul
        margin-top: em(12px)
        margin-left: 0
        text-align: center

        li
            float: none
            display: inline-block
            margin-right: em(12px)

            +media(min, $tablet-large)
                margin-right: em(2px)

            +media(min, $desktopmax)
                margin-right: em(12px)

            &:last-child
                margin-right: 0

            a
                color: $grey-light

                &:hover
                    color: $grey-dark

                +media(min, $tablet-large)
                    i
                        font-size: 2.5em

.panel-social__inner
    padding: 2em 0

.panel-social__block
    +grid(1,1)
    padding-bottom: 1em
    margin-bottom: 1em
    border-bottom: 1px solid $grey-light

    +media(min, $tablet)
        +grid(1,2)
        float: left

    +media(min, $tablet-large)
        +grid(1,4)
        border-bottom: none

.panel-social__social-block
    border-bottom: none
    padding-bottom: 0

    img
        margin: 0 auto


+media(min, $tablet)
    .panel-social__third-block
        border-bottom: none
