.homepage-slider
    position: relative
    overflow: hidden
    padding-bottom: 1em
    background-color: $grey-dark

    img
        width: 100%
        height: auto

    .custom-control-nav
        position: absolute
        z-index: 10
        width: 100%
        top: 0
        left: 0
        text-align: center
        padding-top: 48.878923766816%
        height: 0
        +transition( opacity 300ms ease-out )
        @include opacity(100)

        ol
            position: relative
            display: inline-block
            background-color: lighten(#000, 30%)
            background-color: rgba(#000, 0.3)
            padding: 0 em(10px)
            +border-radius(em(15px))
            top: em(-35px)

        li
            display: inline-block
            position: relative

        a
            position: relative
            display: block
            width: em(26px)
            height: em(26px)
            text-indent: -999em
            cursor: pointer

            &:after
                content: ''
                position: absolute
                top: em(8px)
                left: em(8px)
                width: em(10px)
                height: em(10px)
                +border-radius(50%)
                background-color: #fff

            &.flex-active
                &:after
                    background-color: $green

        +media(min, 640px)
            padding-top: 39.971949509116%

        +media(min, $tablet-large)
            top: auto
            padding-top: 0
            bottom: em(20px)
            height: auto

            ol
                top: 0

    .custom-control-nav-hidden
        @include opacity(0)