.slider-caption
    position: relative
    z-index: 3
    width: 100%

    +media(min, $tablet-large)
        position: absolute
        height: 100%
        top: 0
        left: 0

        &:after
            content: ''
            display: inline-block
            height: 100%
            vertical-align: middle
            margin-right: -0.25em

.slider-caption__align-bottom
    position: relative
    display: inline-block
    vertical-align: bottom
    width: 100%

    +media(min, $tablet-large)
        padding-top: 0
        margin-bottom: em(100px)
        padding-top: em(15px)
        width: 99%
        left: 0.5%

        .width-restrict
            padding: 0 em(60px)

.slider-caption__content
    position: relative
    padding: em(15px) em(10px) 0
    text-align: center
    @extend .group

    +media(min, $tablet-large)
        background-color: lighten(#000, 40%)
        background-color: rgba(#000, 0.4)
        padding: em(30px) em(20px) em(40px)
        color: #fff

.slider-caption__title
    margin-bottom: em(10px, 18px)
    line-height: 1.1em
    font-size: em(18px)
    weight: $light

    +media(min, $tablet-large)
        font-size: em(32px)