*, *:before, *:after
    +box-sizing(border-box)

img 
    max-width: 100%
    display: block

html, body
    height: 100%

body
    font-family: Arial, sans-serif
    color: $grey-light
    font-size: $base-font-size

a
    text-decoration: none

.clear
    clear: both
