%no-outline
    outline: none

%list-reset
    margin: 0
    padding: 0
    list-style: none

.flex-container, .flexslider
    a
        &:active
            @extend %no-outline

        &:focus
            @extend %no-outline

.slides
    @extend %list-reset
    @extend .group

.flex-control-nav
    @extend %list-reset

.flex-direction-nav
    @extend %list-reset

.flexslider
    margin: 0
    padding: 0

    .slides
        > li
            display: none
            -webkit-backface-visibility: hidden
            position: relative

            &:first-child
                display: block

        img
            width: 100%
            display: block

        &:after
            content: "."
            display: block
            clear: both
            visibility: hidden
            line-height: 0
            height: 0


.flex-pauseplay
    span
        text-transform: capitalize

html[xmlns]
    .slides
        display: block

* html
    .slides
        height: 1%

.no-js .slides > li:first-child
    display: block

.flexslider
    p
        margin-bottom: 0
        font-size: 0