.panel
    width: 100%

    h2
        font-size: em(20px)
        margin-bottom: em(12px)

    h4
        font-size: em(16px)
        margin-bottom: em(8px)

.panel__inner
    @extend .group

    +media(min, $desktopmaxplus40)
        width: $desktopmax
        margin: 0 auto