/*! Eric Meyer's Reset */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*! Icon Font */
/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../../fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("../../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../../fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../../fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 4, ../sass/icon-font/_core.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
/* line 5, ../sass/icon-font/_larger.scss */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

/* line 10, ../sass/icon-font/_larger.scss */
.fa-2x {
  font-size: 2em; }

/* line 11, ../sass/icon-font/_larger.scss */
.fa-3x {
  font-size: 3em; }

/* line 12, ../sass/icon-font/_larger.scss */
.fa-4x {
  font-size: 4em; }

/* line 13, ../sass/icon-font/_larger.scss */
.fa-5x {
  font-size: 5em; }

/* line 3, ../sass/icon-font/_fixed-width.scss */
.fa-fw {
  width: 1.28571em;
  text-align: center; }

/* line 4, ../sass/icon-font/_list.scss */
.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  /* line 8, ../sass/icon-font/_list.scss */
  .fa-ul > li {
    position: relative; }

/* line 10, ../sass/icon-font/_list.scss */
.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  /* line 16, ../sass/icon-font/_list.scss */
  .fa-li.fa-lg {
    left: -1.85714em; }

/* line 4, ../sass/icon-font/_bordered-pulled.scss */
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em; }

/* line 10, ../sass/icon-font/_bordered-pulled.scss */
.pull-right {
  float: right; }

/* line 11, ../sass/icon-font/_bordered-pulled.scss */
.pull-left {
  float: left; }

/* line 14, ../sass/icon-font/_bordered-pulled.scss */
.fa.pull-left {
  margin-right: .3em; }
/* line 15, ../sass/icon-font/_bordered-pulled.scss */
.fa.pull-right {
  margin-left: .3em; }

/* line 4, ../sass/icon-font/_spinning.scss */
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear; }

@-moz-keyframes spin {
  /* line 12, ../sass/icon-font/_spinning.scss */
  0% {
    -moz-transform: rotate(0deg); }

  /* line 13, ../sass/icon-font/_spinning.scss */
  100% {
    -moz-transform: rotate(359deg); } }

@-webkit-keyframes spin {
  /* line 16, ../sass/icon-font/_spinning.scss */
  0% {
    -webkit-transform: rotate(0deg); }

  /* line 17, ../sass/icon-font/_spinning.scss */
  100% {
    -webkit-transform: rotate(359deg); } }

@-o-keyframes spin {
  /* line 20, ../sass/icon-font/_spinning.scss */
  0% {
    -o-transform: rotate(0deg); }

  /* line 21, ../sass/icon-font/_spinning.scss */
  100% {
    -o-transform: rotate(359deg); } }

@-ms-keyframes spin {
  /* line 24, ../sass/icon-font/_spinning.scss */
  0% {
    -ms-transform: rotate(0deg); }

  /* line 25, ../sass/icon-font/_spinning.scss */
  100% {
    -ms-transform: rotate(359deg); } }

@keyframes spin {
  /* line 28, ../sass/icon-font/_spinning.scss */
  0% {
    transform: rotate(0deg); }

  /* line 29, ../sass/icon-font/_spinning.scss */
  100% {
    transform: rotate(359deg); } }

/* line 4, ../sass/icon-font/_rotated-flipped.scss */
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

/* line 5, ../sass/icon-font/_rotated-flipped.scss */
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

/* line 6, ../sass/icon-font/_rotated-flipped.scss */
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg); }

/* line 8, ../sass/icon-font/_rotated-flipped.scss */
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1); }

/* line 9, ../sass/icon-font/_rotated-flipped.scss */
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1); }

/* line 4, ../sass/icon-font/_stacked.scss */
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

/* line 12, ../sass/icon-font/_stacked.scss */
.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

/* line 18, ../sass/icon-font/_stacked.scss */
.fa-stack-1x {
  line-height: inherit; }

/* line 19, ../sass/icon-font/_stacked.scss */
.fa-stack-2x {
  font-size: 2em; }

/* line 20, ../sass/icon-font/_stacked.scss */
.fa-inverse {
  color: white; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/* line 4, ../sass/icon-font/_icons.scss */
.fa-glass:before {
  content: "\f000"; }

/* line 5, ../sass/icon-font/_icons.scss */
.fa-music:before {
  content: "\f001"; }

/* line 6, ../sass/icon-font/_icons.scss */
.fa-search:before {
  content: "\f002"; }

/* line 7, ../sass/icon-font/_icons.scss */
.fa-envelope-o:before {
  content: "\f003"; }

/* line 8, ../sass/icon-font/_icons.scss */
.fa-heart:before {
  content: "\f004"; }

/* line 9, ../sass/icon-font/_icons.scss */
.fa-star:before {
  content: "\f005"; }

/* line 10, ../sass/icon-font/_icons.scss */
.fa-star-o:before {
  content: "\f006"; }

/* line 11, ../sass/icon-font/_icons.scss */
.fa-user:before {
  content: "\f007"; }

/* line 12, ../sass/icon-font/_icons.scss */
.fa-film:before {
  content: "\f008"; }

/* line 13, ../sass/icon-font/_icons.scss */
.fa-th-large:before {
  content: "\f009"; }

/* line 14, ../sass/icon-font/_icons.scss */
.fa-th:before {
  content: "\f00a"; }

/* line 15, ../sass/icon-font/_icons.scss */
.fa-th-list:before {
  content: "\f00b"; }

/* line 16, ../sass/icon-font/_icons.scss */
.fa-check:before {
  content: "\f00c"; }

/* line 17, ../sass/icon-font/_icons.scss */
.fa-times:before {
  content: "\f00d"; }

/* line 18, ../sass/icon-font/_icons.scss */
.fa-search-plus:before {
  content: "\f00e"; }

/* line 19, ../sass/icon-font/_icons.scss */
.fa-search-minus:before {
  content: "\f010"; }

/* line 20, ../sass/icon-font/_icons.scss */
.fa-power-off:before {
  content: "\f011"; }

/* line 21, ../sass/icon-font/_icons.scss */
.fa-signal:before {
  content: "\f012"; }

/* line 23, ../sass/icon-font/_icons.scss */
.fa-gear:before,
.fa-cog:before {
  content: "\f013"; }

/* line 24, ../sass/icon-font/_icons.scss */
.fa-trash-o:before {
  content: "\f014"; }

/* line 25, ../sass/icon-font/_icons.scss */
.fa-home:before {
  content: "\f015"; }

/* line 26, ../sass/icon-font/_icons.scss */
.fa-file-o:before {
  content: "\f016"; }

/* line 27, ../sass/icon-font/_icons.scss */
.fa-clock-o:before {
  content: "\f017"; }

/* line 28, ../sass/icon-font/_icons.scss */
.fa-road:before {
  content: "\f018"; }

/* line 29, ../sass/icon-font/_icons.scss */
.fa-download:before {
  content: "\f019"; }

/* line 30, ../sass/icon-font/_icons.scss */
.fa-arrow-circle-o-down:before {
  content: "\f01a"; }

/* line 31, ../sass/icon-font/_icons.scss */
.fa-arrow-circle-o-up:before {
  content: "\f01b"; }

/* line 32, ../sass/icon-font/_icons.scss */
.fa-inbox:before {
  content: "\f01c"; }

/* line 33, ../sass/icon-font/_icons.scss */
.fa-play-circle-o:before {
  content: "\f01d"; }

/* line 35, ../sass/icon-font/_icons.scss */
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e"; }

/* line 36, ../sass/icon-font/_icons.scss */
.fa-refresh:before {
  content: "\f021"; }

/* line 37, ../sass/icon-font/_icons.scss */
.fa-list-alt:before {
  content: "\f022"; }

/* line 38, ../sass/icon-font/_icons.scss */
.fa-lock:before {
  content: "\f023"; }

/* line 39, ../sass/icon-font/_icons.scss */
.fa-flag:before {
  content: "\f024"; }

/* line 40, ../sass/icon-font/_icons.scss */
.fa-headphones:before {
  content: "\f025"; }

/* line 41, ../sass/icon-font/_icons.scss */
.fa-volume-off:before {
  content: "\f026"; }

/* line 42, ../sass/icon-font/_icons.scss */
.fa-volume-down:before {
  content: "\f027"; }

/* line 43, ../sass/icon-font/_icons.scss */
.fa-volume-up:before {
  content: "\f028"; }

/* line 44, ../sass/icon-font/_icons.scss */
.fa-qrcode:before {
  content: "\f029"; }

/* line 45, ../sass/icon-font/_icons.scss */
.fa-barcode:before {
  content: "\f02a"; }

/* line 46, ../sass/icon-font/_icons.scss */
.fa-tag:before {
  content: "\f02b"; }

/* line 47, ../sass/icon-font/_icons.scss */
.fa-tags:before {
  content: "\f02c"; }

/* line 48, ../sass/icon-font/_icons.scss */
.fa-book:before {
  content: "\f02d"; }

/* line 49, ../sass/icon-font/_icons.scss */
.fa-bookmark:before {
  content: "\f02e"; }

/* line 50, ../sass/icon-font/_icons.scss */
.fa-print:before {
  content: "\f02f"; }

/* line 51, ../sass/icon-font/_icons.scss */
.fa-camera:before {
  content: "\f030"; }

/* line 52, ../sass/icon-font/_icons.scss */
.fa-font:before {
  content: "\f031"; }

/* line 53, ../sass/icon-font/_icons.scss */
.fa-bold:before {
  content: "\f032"; }

/* line 54, ../sass/icon-font/_icons.scss */
.fa-italic:before {
  content: "\f033"; }

/* line 55, ../sass/icon-font/_icons.scss */
.fa-text-height:before {
  content: "\f034"; }

/* line 56, ../sass/icon-font/_icons.scss */
.fa-text-width:before {
  content: "\f035"; }

/* line 57, ../sass/icon-font/_icons.scss */
.fa-align-left:before {
  content: "\f036"; }

/* line 58, ../sass/icon-font/_icons.scss */
.fa-align-center:before {
  content: "\f037"; }

/* line 59, ../sass/icon-font/_icons.scss */
.fa-align-right:before {
  content: "\f038"; }

/* line 60, ../sass/icon-font/_icons.scss */
.fa-align-justify:before {
  content: "\f039"; }

/* line 61, ../sass/icon-font/_icons.scss */
.fa-list:before {
  content: "\f03a"; }

/* line 63, ../sass/icon-font/_icons.scss */
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b"; }

/* line 64, ../sass/icon-font/_icons.scss */
.fa-indent:before {
  content: "\f03c"; }

/* line 65, ../sass/icon-font/_icons.scss */
.fa-video-camera:before {
  content: "\f03d"; }

/* line 66, ../sass/icon-font/_icons.scss */
.fa-picture-o:before {
  content: "\f03e"; }

/* line 67, ../sass/icon-font/_icons.scss */
.fa-pencil:before {
  content: "\f040"; }

/* line 68, ../sass/icon-font/_icons.scss */
.fa-map-marker:before {
  content: "\f041"; }

/* line 69, ../sass/icon-font/_icons.scss */
.fa-adjust:before {
  content: "\f042"; }

/* line 70, ../sass/icon-font/_icons.scss */
.fa-tint:before {
  content: "\f043"; }

/* line 72, ../sass/icon-font/_icons.scss */
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044"; }

/* line 73, ../sass/icon-font/_icons.scss */
.fa-share-square-o:before {
  content: "\f045"; }

/* line 74, ../sass/icon-font/_icons.scss */
.fa-check-square-o:before {
  content: "\f046"; }

/* line 75, ../sass/icon-font/_icons.scss */
.fa-arrows:before {
  content: "\f047"; }

/* line 76, ../sass/icon-font/_icons.scss */
.fa-step-backward:before {
  content: "\f048"; }

/* line 77, ../sass/icon-font/_icons.scss */
.fa-fast-backward:before {
  content: "\f049"; }

/* line 78, ../sass/icon-font/_icons.scss */
.fa-backward:before {
  content: "\f04a"; }

/* line 79, ../sass/icon-font/_icons.scss */
.fa-play:before {
  content: "\f04b"; }

/* line 80, ../sass/icon-font/_icons.scss */
.fa-pause:before {
  content: "\f04c"; }

/* line 81, ../sass/icon-font/_icons.scss */
.fa-stop:before {
  content: "\f04d"; }

/* line 82, ../sass/icon-font/_icons.scss */
.fa-forward:before {
  content: "\f04e"; }

/* line 83, ../sass/icon-font/_icons.scss */
.fa-fast-forward:before {
  content: "\f050"; }

/* line 84, ../sass/icon-font/_icons.scss */
.fa-step-forward:before {
  content: "\f051"; }

/* line 85, ../sass/icon-font/_icons.scss */
.fa-eject:before {
  content: "\f052"; }

/* line 86, ../sass/icon-font/_icons.scss */
.fa-chevron-left:before {
  content: "\f053"; }

/* line 87, ../sass/icon-font/_icons.scss */
.fa-chevron-right:before {
  content: "\f054"; }

/* line 88, ../sass/icon-font/_icons.scss */
.fa-plus-circle:before {
  content: "\f055"; }

/* line 89, ../sass/icon-font/_icons.scss */
.fa-minus-circle:before {
  content: "\f056"; }

/* line 90, ../sass/icon-font/_icons.scss */
.fa-times-circle:before {
  content: "\f057"; }

/* line 91, ../sass/icon-font/_icons.scss */
.fa-check-circle:before {
  content: "\f058"; }

/* line 92, ../sass/icon-font/_icons.scss */
.fa-question-circle:before {
  content: "\f059"; }

/* line 93, ../sass/icon-font/_icons.scss */
.fa-info-circle:before {
  content: "\f05a"; }

/* line 94, ../sass/icon-font/_icons.scss */
.fa-crosshairs:before {
  content: "\f05b"; }

/* line 95, ../sass/icon-font/_icons.scss */
.fa-times-circle-o:before {
  content: "\f05c"; }

/* line 96, ../sass/icon-font/_icons.scss */
.fa-check-circle-o:before {
  content: "\f05d"; }

/* line 97, ../sass/icon-font/_icons.scss */
.fa-ban:before {
  content: "\f05e"; }

/* line 98, ../sass/icon-font/_icons.scss */
.fa-arrow-left:before {
  content: "\f060"; }

/* line 99, ../sass/icon-font/_icons.scss */
.fa-arrow-right:before {
  content: "\f061"; }

/* line 100, ../sass/icon-font/_icons.scss */
.fa-arrow-up:before {
  content: "\f062"; }

/* line 101, ../sass/icon-font/_icons.scss */
.fa-arrow-down:before {
  content: "\f063"; }

/* line 103, ../sass/icon-font/_icons.scss */
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064"; }

/* line 104, ../sass/icon-font/_icons.scss */
.fa-expand:before {
  content: "\f065"; }

/* line 105, ../sass/icon-font/_icons.scss */
.fa-compress:before {
  content: "\f066"; }

/* line 106, ../sass/icon-font/_icons.scss */
.fa-plus:before {
  content: "\f067"; }

/* line 107, ../sass/icon-font/_icons.scss */
.fa-minus:before {
  content: "\f068"; }

/* line 108, ../sass/icon-font/_icons.scss */
.fa-asterisk:before {
  content: "\f069"; }

/* line 109, ../sass/icon-font/_icons.scss */
.fa-exclamation-circle:before {
  content: "\f06a"; }

/* line 110, ../sass/icon-font/_icons.scss */
.fa-gift:before {
  content: "\f06b"; }

/* line 111, ../sass/icon-font/_icons.scss */
.fa-leaf:before {
  content: "\f06c"; }

/* line 112, ../sass/icon-font/_icons.scss */
.fa-fire:before {
  content: "\f06d"; }

/* line 113, ../sass/icon-font/_icons.scss */
.fa-eye:before {
  content: "\f06e"; }

/* line 114, ../sass/icon-font/_icons.scss */
.fa-eye-slash:before {
  content: "\f070"; }

/* line 116, ../sass/icon-font/_icons.scss */
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071"; }

/* line 117, ../sass/icon-font/_icons.scss */
.fa-plane:before {
  content: "\f072"; }

/* line 118, ../sass/icon-font/_icons.scss */
.fa-calendar:before {
  content: "\f073"; }

/* line 119, ../sass/icon-font/_icons.scss */
.fa-random:before {
  content: "\f074"; }

/* line 120, ../sass/icon-font/_icons.scss */
.fa-comment:before {
  content: "\f075"; }

/* line 121, ../sass/icon-font/_icons.scss */
.fa-magnet:before {
  content: "\f076"; }

/* line 122, ../sass/icon-font/_icons.scss */
.fa-chevron-up:before {
  content: "\f077"; }

/* line 123, ../sass/icon-font/_icons.scss */
.fa-chevron-down:before {
  content: "\f078"; }

/* line 124, ../sass/icon-font/_icons.scss */
.fa-retweet:before {
  content: "\f079"; }

/* line 125, ../sass/icon-font/_icons.scss */
.fa-shopping-cart:before {
  content: "\f07a"; }

/* line 126, ../sass/icon-font/_icons.scss */
.fa-folder:before {
  content: "\f07b"; }

/* line 127, ../sass/icon-font/_icons.scss */
.fa-folder-open:before {
  content: "\f07c"; }

/* line 128, ../sass/icon-font/_icons.scss */
.fa-arrows-v:before {
  content: "\f07d"; }

/* line 129, ../sass/icon-font/_icons.scss */
.fa-arrows-h:before {
  content: "\f07e"; }

/* line 130, ../sass/icon-font/_icons.scss */
.fa-bar-chart-o:before {
  content: "\f080"; }

/* line 131, ../sass/icon-font/_icons.scss */
.fa-twitter-square:before {
  content: "\f081"; }

/* line 132, ../sass/icon-font/_icons.scss */
.fa-facebook-square:before {
  content: "\f082"; }

/* line 133, ../sass/icon-font/_icons.scss */
.fa-camera-retro:before {
  content: "\f083"; }

/* line 134, ../sass/icon-font/_icons.scss */
.fa-key:before {
  content: "\f084"; }

/* line 136, ../sass/icon-font/_icons.scss */
.fa-gears:before,
.fa-cogs:before {
  content: "\f085"; }

/* line 137, ../sass/icon-font/_icons.scss */
.fa-comments:before {
  content: "\f086"; }

/* line 138, ../sass/icon-font/_icons.scss */
.fa-thumbs-o-up:before {
  content: "\f087"; }

/* line 139, ../sass/icon-font/_icons.scss */
.fa-thumbs-o-down:before {
  content: "\f088"; }

/* line 140, ../sass/icon-font/_icons.scss */
.fa-star-half:before {
  content: "\f089"; }

/* line 141, ../sass/icon-font/_icons.scss */
.fa-heart-o:before {
  content: "\f08a"; }

/* line 142, ../sass/icon-font/_icons.scss */
.fa-sign-out:before {
  content: "\f08b"; }

/* line 143, ../sass/icon-font/_icons.scss */
.fa-linkedin-square:before {
  content: "\f08c"; }

/* line 144, ../sass/icon-font/_icons.scss */
.fa-thumb-tack:before {
  content: "\f08d"; }

/* line 145, ../sass/icon-font/_icons.scss */
.fa-external-link:before {
  content: "\f08e"; }

/* line 146, ../sass/icon-font/_icons.scss */
.fa-sign-in:before {
  content: "\f090"; }

/* line 147, ../sass/icon-font/_icons.scss */
.fa-trophy:before {
  content: "\f091"; }

/* line 148, ../sass/icon-font/_icons.scss */
.fa-github-square:before {
  content: "\f092"; }

/* line 149, ../sass/icon-font/_icons.scss */
.fa-upload:before {
  content: "\f093"; }

/* line 150, ../sass/icon-font/_icons.scss */
.fa-lemon-o:before {
  content: "\f094"; }

/* line 151, ../sass/icon-font/_icons.scss */
.fa-phone:before {
  content: "\f095"; }

/* line 152, ../sass/icon-font/_icons.scss */
.fa-square-o:before {
  content: "\f096"; }

/* line 153, ../sass/icon-font/_icons.scss */
.fa-bookmark-o:before {
  content: "\f097"; }

/* line 154, ../sass/icon-font/_icons.scss */
.fa-phone-square:before {
  content: "\f098"; }

/* line 155, ../sass/icon-font/_icons.scss */
.fa-twitter:before {
  content: "\f099"; }

/* line 156, ../sass/icon-font/_icons.scss */
.fa-facebook:before {
  content: "\f09a"; }

/* line 157, ../sass/icon-font/_icons.scss */
.fa-github:before {
  content: "\f09b"; }

/* line 158, ../sass/icon-font/_icons.scss */
.fa-unlock:before {
  content: "\f09c"; }

/* line 159, ../sass/icon-font/_icons.scss */
.fa-credit-card:before {
  content: "\f09d"; }

/* line 160, ../sass/icon-font/_icons.scss */
.fa-rss:before {
  content: "\f09e"; }

/* line 161, ../sass/icon-font/_icons.scss */
.fa-hdd-o:before {
  content: "\f0a0"; }

/* line 162, ../sass/icon-font/_icons.scss */
.fa-bullhorn:before {
  content: "\f0a1"; }

/* line 163, ../sass/icon-font/_icons.scss */
.fa-bell:before {
  content: "\f0f3"; }

/* line 164, ../sass/icon-font/_icons.scss */
.fa-certificate:before {
  content: "\f0a3"; }

/* line 165, ../sass/icon-font/_icons.scss */
.fa-hand-o-right:before {
  content: "\f0a4"; }

/* line 166, ../sass/icon-font/_icons.scss */
.fa-hand-o-left:before {
  content: "\f0a5"; }

/* line 167, ../sass/icon-font/_icons.scss */
.fa-hand-o-up:before {
  content: "\f0a6"; }

/* line 168, ../sass/icon-font/_icons.scss */
.fa-hand-o-down:before {
  content: "\f0a7"; }

/* line 169, ../sass/icon-font/_icons.scss */
.fa-arrow-circle-left:before {
  content: "\f0a8"; }

/* line 170, ../sass/icon-font/_icons.scss */
.fa-arrow-circle-right:before {
  content: "\f0a9"; }

/* line 171, ../sass/icon-font/_icons.scss */
.fa-arrow-circle-up:before {
  content: "\f0aa"; }

/* line 172, ../sass/icon-font/_icons.scss */
.fa-arrow-circle-down:before {
  content: "\f0ab"; }

/* line 173, ../sass/icon-font/_icons.scss */
.fa-globe:before {
  content: "\f0ac"; }

/* line 174, ../sass/icon-font/_icons.scss */
.fa-wrench:before {
  content: "\f0ad"; }

/* line 175, ../sass/icon-font/_icons.scss */
.fa-tasks:before {
  content: "\f0ae"; }

/* line 176, ../sass/icon-font/_icons.scss */
.fa-filter:before {
  content: "\f0b0"; }

/* line 177, ../sass/icon-font/_icons.scss */
.fa-briefcase:before {
  content: "\f0b1"; }

/* line 178, ../sass/icon-font/_icons.scss */
.fa-arrows-alt:before {
  content: "\f0b2"; }

/* line 180, ../sass/icon-font/_icons.scss */
.fa-group:before,
.fa-users:before {
  content: "\f0c0"; }

/* line 182, ../sass/icon-font/_icons.scss */
.fa-chain:before,
.fa-link:before {
  content: "\f0c1"; }

/* line 183, ../sass/icon-font/_icons.scss */
.fa-cloud:before {
  content: "\f0c2"; }

/* line 184, ../sass/icon-font/_icons.scss */
.fa-flask:before {
  content: "\f0c3"; }

/* line 186, ../sass/icon-font/_icons.scss */
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4"; }

/* line 188, ../sass/icon-font/_icons.scss */
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5"; }

/* line 189, ../sass/icon-font/_icons.scss */
.fa-paperclip:before {
  content: "\f0c6"; }

/* line 191, ../sass/icon-font/_icons.scss */
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7"; }

/* line 192, ../sass/icon-font/_icons.scss */
.fa-square:before {
  content: "\f0c8"; }

/* line 193, ../sass/icon-font/_icons.scss */
.fa-bars:before {
  content: "\f0c9"; }

/* line 194, ../sass/icon-font/_icons.scss */
.fa-list-ul:before {
  content: "\f0ca"; }

/* line 195, ../sass/icon-font/_icons.scss */
.fa-list-ol:before {
  content: "\f0cb"; }

/* line 196, ../sass/icon-font/_icons.scss */
.fa-strikethrough:before {
  content: "\f0cc"; }

/* line 197, ../sass/icon-font/_icons.scss */
.fa-underline:before {
  content: "\f0cd"; }

/* line 198, ../sass/icon-font/_icons.scss */
.fa-table:before {
  content: "\f0ce"; }

/* line 199, ../sass/icon-font/_icons.scss */
.fa-magic:before {
  content: "\f0d0"; }

/* line 200, ../sass/icon-font/_icons.scss */
.fa-truck:before {
  content: "\f0d1"; }

/* line 201, ../sass/icon-font/_icons.scss */
.fa-pinterest:before {
  content: "\f0d2"; }

/* line 202, ../sass/icon-font/_icons.scss */
.fa-pinterest-square:before {
  content: "\f0d3"; }

/* line 203, ../sass/icon-font/_icons.scss */
.fa-google-plus-square:before {
  content: "\f0d4"; }

/* line 204, ../sass/icon-font/_icons.scss */
.fa-google-plus:before {
  content: "\f0d5"; }

/* line 205, ../sass/icon-font/_icons.scss */
.fa-money:before {
  content: "\f0d6"; }

/* line 206, ../sass/icon-font/_icons.scss */
.fa-caret-down:before {
  content: "\f0d7"; }

/* line 207, ../sass/icon-font/_icons.scss */
.fa-caret-up:before {
  content: "\f0d8"; }

/* line 208, ../sass/icon-font/_icons.scss */
.fa-caret-left:before {
  content: "\f0d9"; }

/* line 209, ../sass/icon-font/_icons.scss */
.fa-caret-right:before {
  content: "\f0da"; }

/* line 210, ../sass/icon-font/_icons.scss */
.fa-columns:before {
  content: "\f0db"; }

/* line 212, ../sass/icon-font/_icons.scss */
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc"; }

/* line 214, ../sass/icon-font/_icons.scss */
.fa-sort-down:before,
.fa-sort-asc:before {
  content: "\f0dd"; }

/* line 216, ../sass/icon-font/_icons.scss */
.fa-sort-up:before,
.fa-sort-desc:before {
  content: "\f0de"; }

/* line 217, ../sass/icon-font/_icons.scss */
.fa-envelope:before {
  content: "\f0e0"; }

/* line 218, ../sass/icon-font/_icons.scss */
.fa-linkedin:before {
  content: "\f0e1"; }

/* line 220, ../sass/icon-font/_icons.scss */
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2"; }

/* line 222, ../sass/icon-font/_icons.scss */
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3"; }

/* line 224, ../sass/icon-font/_icons.scss */
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4"; }

/* line 225, ../sass/icon-font/_icons.scss */
.fa-comment-o:before {
  content: "\f0e5"; }

/* line 226, ../sass/icon-font/_icons.scss */
.fa-comments-o:before {
  content: "\f0e6"; }

/* line 228, ../sass/icon-font/_icons.scss */
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7"; }

/* line 229, ../sass/icon-font/_icons.scss */
.fa-sitemap:before {
  content: "\f0e8"; }

/* line 230, ../sass/icon-font/_icons.scss */
.fa-umbrella:before {
  content: "\f0e9"; }

/* line 232, ../sass/icon-font/_icons.scss */
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea"; }

/* line 233, ../sass/icon-font/_icons.scss */
.fa-lightbulb-o:before {
  content: "\f0eb"; }

/* line 234, ../sass/icon-font/_icons.scss */
.fa-exchange:before {
  content: "\f0ec"; }

/* line 235, ../sass/icon-font/_icons.scss */
.fa-cloud-download:before {
  content: "\f0ed"; }

/* line 236, ../sass/icon-font/_icons.scss */
.fa-cloud-upload:before {
  content: "\f0ee"; }

/* line 237, ../sass/icon-font/_icons.scss */
.fa-user-md:before {
  content: "\f0f0"; }

/* line 238, ../sass/icon-font/_icons.scss */
.fa-stethoscope:before {
  content: "\f0f1"; }

/* line 239, ../sass/icon-font/_icons.scss */
.fa-suitcase:before {
  content: "\f0f2"; }

/* line 240, ../sass/icon-font/_icons.scss */
.fa-bell-o:before {
  content: "\f0a2"; }

/* line 241, ../sass/icon-font/_icons.scss */
.fa-coffee:before {
  content: "\f0f4"; }

/* line 242, ../sass/icon-font/_icons.scss */
.fa-cutlery:before {
  content: "\f0f5"; }

/* line 243, ../sass/icon-font/_icons.scss */
.fa-file-text-o:before {
  content: "\f0f6"; }

/* line 244, ../sass/icon-font/_icons.scss */
.fa-building-o:before {
  content: "\f0f7"; }

/* line 245, ../sass/icon-font/_icons.scss */
.fa-hospital-o:before {
  content: "\f0f8"; }

/* line 246, ../sass/icon-font/_icons.scss */
.fa-ambulance:before {
  content: "\f0f9"; }

/* line 247, ../sass/icon-font/_icons.scss */
.fa-medkit:before {
  content: "\f0fa"; }

/* line 248, ../sass/icon-font/_icons.scss */
.fa-fighter-jet:before {
  content: "\f0fb"; }

/* line 249, ../sass/icon-font/_icons.scss */
.fa-beer:before {
  content: "\f0fc"; }

/* line 250, ../sass/icon-font/_icons.scss */
.fa-h-square:before {
  content: "\f0fd"; }

/* line 251, ../sass/icon-font/_icons.scss */
.fa-plus-square:before {
  content: "\f0fe"; }

/* line 252, ../sass/icon-font/_icons.scss */
.fa-angle-double-left:before {
  content: "\f100"; }

/* line 253, ../sass/icon-font/_icons.scss */
.fa-angle-double-right:before {
  content: "\f101"; }

/* line 254, ../sass/icon-font/_icons.scss */
.fa-angle-double-up:before {
  content: "\f102"; }

/* line 255, ../sass/icon-font/_icons.scss */
.fa-angle-double-down:before {
  content: "\f103"; }

/* line 256, ../sass/icon-font/_icons.scss */
.fa-angle-left:before {
  content: "\f104"; }

/* line 257, ../sass/icon-font/_icons.scss */
.fa-angle-right:before {
  content: "\f105"; }

/* line 258, ../sass/icon-font/_icons.scss */
.fa-angle-up:before {
  content: "\f106"; }

/* line 259, ../sass/icon-font/_icons.scss */
.fa-angle-down:before {
  content: "\f107"; }

/* line 260, ../sass/icon-font/_icons.scss */
.fa-desktop:before {
  content: "\f108"; }

/* line 261, ../sass/icon-font/_icons.scss */
.fa-laptop:before {
  content: "\f109"; }

/* line 262, ../sass/icon-font/_icons.scss */
.fa-tablet:before {
  content: "\f10a"; }

/* line 264, ../sass/icon-font/_icons.scss */
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b"; }

/* line 265, ../sass/icon-font/_icons.scss */
.fa-circle-o:before {
  content: "\f10c"; }

/* line 266, ../sass/icon-font/_icons.scss */
.fa-quote-left:before {
  content: "\f10d"; }

/* line 267, ../sass/icon-font/_icons.scss */
.fa-quote-right:before {
  content: "\f10e"; }

/* line 268, ../sass/icon-font/_icons.scss */
.fa-spinner:before {
  content: "\f110"; }

/* line 269, ../sass/icon-font/_icons.scss */
.fa-circle:before {
  content: "\f111"; }

/* line 271, ../sass/icon-font/_icons.scss */
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112"; }

/* line 272, ../sass/icon-font/_icons.scss */
.fa-github-alt:before {
  content: "\f113"; }

/* line 273, ../sass/icon-font/_icons.scss */
.fa-folder-o:before {
  content: "\f114"; }

/* line 274, ../sass/icon-font/_icons.scss */
.fa-folder-open-o:before {
  content: "\f115"; }

/* line 275, ../sass/icon-font/_icons.scss */
.fa-smile-o:before {
  content: "\f118"; }

/* line 276, ../sass/icon-font/_icons.scss */
.fa-frown-o:before {
  content: "\f119"; }

/* line 277, ../sass/icon-font/_icons.scss */
.fa-meh-o:before {
  content: "\f11a"; }

/* line 278, ../sass/icon-font/_icons.scss */
.fa-gamepad:before {
  content: "\f11b"; }

/* line 279, ../sass/icon-font/_icons.scss */
.fa-keyboard-o:before {
  content: "\f11c"; }

/* line 280, ../sass/icon-font/_icons.scss */
.fa-flag-o:before {
  content: "\f11d"; }

/* line 281, ../sass/icon-font/_icons.scss */
.fa-flag-checkered:before {
  content: "\f11e"; }

/* line 282, ../sass/icon-font/_icons.scss */
.fa-terminal:before {
  content: "\f120"; }

/* line 283, ../sass/icon-font/_icons.scss */
.fa-code:before {
  content: "\f121"; }

/* line 284, ../sass/icon-font/_icons.scss */
.fa-reply-all:before {
  content: "\f122"; }

/* line 285, ../sass/icon-font/_icons.scss */
.fa-mail-reply-all:before {
  content: "\f122"; }

/* line 288, ../sass/icon-font/_icons.scss */
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123"; }

/* line 289, ../sass/icon-font/_icons.scss */
.fa-location-arrow:before {
  content: "\f124"; }

/* line 290, ../sass/icon-font/_icons.scss */
.fa-crop:before {
  content: "\f125"; }

/* line 291, ../sass/icon-font/_icons.scss */
.fa-code-fork:before {
  content: "\f126"; }

/* line 293, ../sass/icon-font/_icons.scss */
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127"; }

/* line 294, ../sass/icon-font/_icons.scss */
.fa-question:before {
  content: "\f128"; }

/* line 295, ../sass/icon-font/_icons.scss */
.fa-info:before {
  content: "\f129"; }

/* line 296, ../sass/icon-font/_icons.scss */
.fa-exclamation:before {
  content: "\f12a"; }

/* line 297, ../sass/icon-font/_icons.scss */
.fa-superscript:before {
  content: "\f12b"; }

/* line 298, ../sass/icon-font/_icons.scss */
.fa-subscript:before {
  content: "\f12c"; }

/* line 299, ../sass/icon-font/_icons.scss */
.fa-eraser:before {
  content: "\f12d"; }

/* line 300, ../sass/icon-font/_icons.scss */
.fa-puzzle-piece:before {
  content: "\f12e"; }

/* line 301, ../sass/icon-font/_icons.scss */
.fa-microphone:before {
  content: "\f130"; }

/* line 302, ../sass/icon-font/_icons.scss */
.fa-microphone-slash:before {
  content: "\f131"; }

/* line 303, ../sass/icon-font/_icons.scss */
.fa-shield:before {
  content: "\f132"; }

/* line 304, ../sass/icon-font/_icons.scss */
.fa-calendar-o:before {
  content: "\f133"; }

/* line 305, ../sass/icon-font/_icons.scss */
.fa-fire-extinguisher:before {
  content: "\f134"; }

/* line 306, ../sass/icon-font/_icons.scss */
.fa-rocket:before {
  content: "\f135"; }

/* line 307, ../sass/icon-font/_icons.scss */
.fa-maxcdn:before {
  content: "\f136"; }

/* line 308, ../sass/icon-font/_icons.scss */
.fa-chevron-circle-left:before {
  content: "\f137"; }

/* line 309, ../sass/icon-font/_icons.scss */
.fa-chevron-circle-right:before {
  content: "\f138"; }

/* line 310, ../sass/icon-font/_icons.scss */
.fa-chevron-circle-up:before {
  content: "\f139"; }

/* line 311, ../sass/icon-font/_icons.scss */
.fa-chevron-circle-down:before {
  content: "\f13a"; }

/* line 312, ../sass/icon-font/_icons.scss */
.fa-html5:before {
  content: "\f13b"; }

/* line 313, ../sass/icon-font/_icons.scss */
.fa-css3:before {
  content: "\f13c"; }

/* line 314, ../sass/icon-font/_icons.scss */
.fa-anchor:before {
  content: "\f13d"; }

/* line 315, ../sass/icon-font/_icons.scss */
.fa-unlock-alt:before {
  content: "\f13e"; }

/* line 316, ../sass/icon-font/_icons.scss */
.fa-bullseye:before {
  content: "\f140"; }

/* line 317, ../sass/icon-font/_icons.scss */
.fa-ellipsis-h:before {
  content: "\f141"; }

/* line 318, ../sass/icon-font/_icons.scss */
.fa-ellipsis-v:before {
  content: "\f142"; }

/* line 319, ../sass/icon-font/_icons.scss */
.fa-rss-square:before {
  content: "\f143"; }

/* line 320, ../sass/icon-font/_icons.scss */
.fa-play-circle:before {
  content: "\f144"; }

/* line 321, ../sass/icon-font/_icons.scss */
.fa-ticket:before {
  content: "\f145"; }

/* line 322, ../sass/icon-font/_icons.scss */
.fa-minus-square:before {
  content: "\f146"; }

/* line 323, ../sass/icon-font/_icons.scss */
.fa-minus-square-o:before {
  content: "\f147"; }

/* line 324, ../sass/icon-font/_icons.scss */
.fa-level-up:before {
  content: "\f148"; }

/* line 325, ../sass/icon-font/_icons.scss */
.fa-level-down:before {
  content: "\f149"; }

/* line 326, ../sass/icon-font/_icons.scss */
.fa-check-square:before {
  content: "\f14a"; }

/* line 327, ../sass/icon-font/_icons.scss */
.fa-pencil-square:before {
  content: "\f14b"; }

/* line 328, ../sass/icon-font/_icons.scss */
.fa-external-link-square:before {
  content: "\f14c"; }

/* line 329, ../sass/icon-font/_icons.scss */
.fa-share-square:before {
  content: "\f14d"; }

/* line 330, ../sass/icon-font/_icons.scss */
.fa-compass:before {
  content: "\f14e"; }

/* line 332, ../sass/icon-font/_icons.scss */
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150"; }

/* line 334, ../sass/icon-font/_icons.scss */
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151"; }

/* line 336, ../sass/icon-font/_icons.scss */
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152"; }

/* line 338, ../sass/icon-font/_icons.scss */
.fa-euro:before,
.fa-eur:before {
  content: "\f153"; }

/* line 339, ../sass/icon-font/_icons.scss */
.fa-gbp:before {
  content: "\f154"; }

/* line 341, ../sass/icon-font/_icons.scss */
.fa-dollar:before,
.fa-usd:before {
  content: "\f155"; }

/* line 343, ../sass/icon-font/_icons.scss */
.fa-rupee:before,
.fa-inr:before {
  content: "\f156"; }

/* line 347, ../sass/icon-font/_icons.scss */
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157"; }

/* line 350, ../sass/icon-font/_icons.scss */
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158"; }

/* line 352, ../sass/icon-font/_icons.scss */
.fa-won:before,
.fa-krw:before {
  content: "\f159"; }

/* line 354, ../sass/icon-font/_icons.scss */
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a"; }

/* line 355, ../sass/icon-font/_icons.scss */
.fa-file:before {
  content: "\f15b"; }

/* line 356, ../sass/icon-font/_icons.scss */
.fa-file-text:before {
  content: "\f15c"; }

/* line 357, ../sass/icon-font/_icons.scss */
.fa-sort-alpha-asc:before {
  content: "\f15d"; }

/* line 358, ../sass/icon-font/_icons.scss */
.fa-sort-alpha-desc:before {
  content: "\f15e"; }

/* line 359, ../sass/icon-font/_icons.scss */
.fa-sort-amount-asc:before {
  content: "\f160"; }

/* line 360, ../sass/icon-font/_icons.scss */
.fa-sort-amount-desc:before {
  content: "\f161"; }

/* line 361, ../sass/icon-font/_icons.scss */
.fa-sort-numeric-asc:before {
  content: "\f162"; }

/* line 362, ../sass/icon-font/_icons.scss */
.fa-sort-numeric-desc:before {
  content: "\f163"; }

/* line 363, ../sass/icon-font/_icons.scss */
.fa-thumbs-up:before {
  content: "\f164"; }

/* line 364, ../sass/icon-font/_icons.scss */
.fa-thumbs-down:before {
  content: "\f165"; }

/* line 365, ../sass/icon-font/_icons.scss */
.fa-youtube-square:before {
  content: "\f166"; }

/* line 366, ../sass/icon-font/_icons.scss */
.fa-youtube:before {
  content: "\f167"; }

/* line 367, ../sass/icon-font/_icons.scss */
.fa-xing:before {
  content: "\f168"; }

/* line 368, ../sass/icon-font/_icons.scss */
.fa-xing-square:before {
  content: "\f169"; }

/* line 369, ../sass/icon-font/_icons.scss */
.fa-youtube-play:before {
  content: "\f16a"; }

/* line 370, ../sass/icon-font/_icons.scss */
.fa-dropbox:before {
  content: "\f16b"; }

/* line 371, ../sass/icon-font/_icons.scss */
.fa-stack-overflow:before {
  content: "\f16c"; }

/* line 372, ../sass/icon-font/_icons.scss */
.fa-instagram:before {
  content: "\f16d"; }

/* line 373, ../sass/icon-font/_icons.scss */
.fa-flickr:before {
  content: "\f16e"; }

/* line 374, ../sass/icon-font/_icons.scss */
.fa-adn:before {
  content: "\f170"; }

/* line 375, ../sass/icon-font/_icons.scss */
.fa-bitbucket:before {
  content: "\f171"; }

/* line 376, ../sass/icon-font/_icons.scss */
.fa-bitbucket-square:before {
  content: "\f172"; }

/* line 377, ../sass/icon-font/_icons.scss */
.fa-tumblr:before {
  content: "\f173"; }

/* line 378, ../sass/icon-font/_icons.scss */
.fa-tumblr-square:before {
  content: "\f174"; }

/* line 379, ../sass/icon-font/_icons.scss */
.fa-long-arrow-down:before {
  content: "\f175"; }

/* line 380, ../sass/icon-font/_icons.scss */
.fa-long-arrow-up:before {
  content: "\f176"; }

/* line 381, ../sass/icon-font/_icons.scss */
.fa-long-arrow-left:before {
  content: "\f177"; }

/* line 382, ../sass/icon-font/_icons.scss */
.fa-long-arrow-right:before {
  content: "\f178"; }

/* line 383, ../sass/icon-font/_icons.scss */
.fa-apple:before {
  content: "\f179"; }

/* line 384, ../sass/icon-font/_icons.scss */
.fa-windows:before {
  content: "\f17a"; }

/* line 385, ../sass/icon-font/_icons.scss */
.fa-android:before {
  content: "\f17b"; }

/* line 386, ../sass/icon-font/_icons.scss */
.fa-linux:before {
  content: "\f17c"; }

/* line 387, ../sass/icon-font/_icons.scss */
.fa-dribbble:before {
  content: "\f17d"; }

/* line 388, ../sass/icon-font/_icons.scss */
.fa-skype:before {
  content: "\f17e"; }

/* line 389, ../sass/icon-font/_icons.scss */
.fa-foursquare:before {
  content: "\f180"; }

/* line 390, ../sass/icon-font/_icons.scss */
.fa-trello:before {
  content: "\f181"; }

/* line 391, ../sass/icon-font/_icons.scss */
.fa-female:before {
  content: "\f182"; }

/* line 392, ../sass/icon-font/_icons.scss */
.fa-male:before {
  content: "\f183"; }

/* line 393, ../sass/icon-font/_icons.scss */
.fa-gittip:before {
  content: "\f184"; }

/* line 394, ../sass/icon-font/_icons.scss */
.fa-sun-o:before {
  content: "\f185"; }

/* line 395, ../sass/icon-font/_icons.scss */
.fa-moon-o:before {
  content: "\f186"; }

/* line 396, ../sass/icon-font/_icons.scss */
.fa-archive:before {
  content: "\f187"; }

/* line 397, ../sass/icon-font/_icons.scss */
.fa-bug:before {
  content: "\f188"; }

/* line 398, ../sass/icon-font/_icons.scss */
.fa-vk:before {
  content: "\f189"; }

/* line 399, ../sass/icon-font/_icons.scss */
.fa-weibo:before {
  content: "\f18a"; }

/* line 400, ../sass/icon-font/_icons.scss */
.fa-renren:before {
  content: "\f18b"; }

/* line 401, ../sass/icon-font/_icons.scss */
.fa-pagelines:before {
  content: "\f18c"; }

/* line 402, ../sass/icon-font/_icons.scss */
.fa-stack-exchange:before {
  content: "\f18d"; }

/* line 403, ../sass/icon-font/_icons.scss */
.fa-arrow-circle-o-right:before {
  content: "\f18e"; }

/* line 404, ../sass/icon-font/_icons.scss */
.fa-arrow-circle-o-left:before {
  content: "\f190"; }

/* line 406, ../sass/icon-font/_icons.scss */
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191"; }

/* line 407, ../sass/icon-font/_icons.scss */
.fa-dot-circle-o:before {
  content: "\f192"; }

/* line 408, ../sass/icon-font/_icons.scss */
.fa-wheelchair:before {
  content: "\f193"; }

/* line 409, ../sass/icon-font/_icons.scss */
.fa-vimeo-square:before {
  content: "\f194"; }

/* line 411, ../sass/icon-font/_icons.scss */
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195"; }

/* line 412, ../sass/icon-font/_icons.scss */
.fa-plus-square-o:before {
  content: "\f196"; }

/*! Helpers */
/* line 2, ../sass/helpers/_helpers.sass */
.group:after, .slides:after, .panel__inner:after, .slider-caption__content:after, .panel-contact__form:after, .panel-instagram__inner:after, .footer__inner:after {
  content: "";
  display: table;
  clear: both; }

/* line 8, ../sass/helpers/_helpers.sass */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

/* line 19, ../sass/helpers/_helpers.sass */
.no-shift {
  -webkit-transform: translate3d(0, 0, 0); }

/*! Base */
/* line 1, ../sass/base/_base.sass */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 4, ../sass/base/_base.sass */
img {
  max-width: 100%;
  display: block; }

/* line 8, ../sass/base/_base.sass */
html, body {
  height: 100%; }

/* line 11, ../sass/base/_base.sass */
body {
  font-family: Arial, sans-serif;
  color: #cccccc;
  font-size: 14px; }

/* line 16, ../sass/base/_base.sass */
a {
  text-decoration: none; }

/* line 19, ../sass/base/_base.sass */
.clear {
  clear: both; }

/* line 1, ../sass/base/_flexslider.sass */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none; }

/* line 4, ../sass/base/_flexslider.sass */
.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 27, ../sass/base/_flexslider.sass */
.flexslider {
  margin: 0;
  padding: 0; }
  /* line 32, ../sass/base/_flexslider.sass */
  .flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
    position: relative; }
    /* line 37, ../sass/base/_flexslider.sass */
    .flexslider .slides > li:first-child {
      display: block; }
  /* line 40, ../sass/base/_flexslider.sass */
  .flexslider .slides img {
    width: 100%;
    display: block; }
  /* line 44, ../sass/base/_flexslider.sass */
  .flexslider .slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

/* line 54, ../sass/base/_flexslider.sass */
.flex-pauseplay span {
  text-transform: capitalize; }

/* line 58, ../sass/base/_flexslider.sass */
html[xmlns] .slides {
  display: block; }

/* line 62, ../sass/base/_flexslider.sass */
* html .slides {
  height: 1%; }

/* line 65, ../sass/base/_flexslider.sass */
.no-js .slides > li:first-child {
  display: block; }

/* line 69, ../sass/base/_flexslider.sass */
.flexslider p {
  margin-bottom: 0;
  font-size: 0; }

/* line 1, ../sass/base/_panel.sass */
.panel {
  width: 100%; }
  /* line 4, ../sass/base/_panel.sass */
  .panel h2 {
    font-size: 1.42857em;
    margin-bottom: 0.85714em; }
  /* line 8, ../sass/base/_panel.sass */
  .panel h4 {
    font-size: 1.14286em;
    margin-bottom: 0.57143em; }

@media screen and (min-width: 1220px) {
  /* line 12, ../sass/base/_panel.sass */
  .panel__inner {
    width: 1180px;
    margin: 0 auto; } }

/*! Modules */
/* line 1, ../sass/modules/_slider.sass */
.homepage-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: 1em;
  background-color: #333333; }
  /* line 7, ../sass/modules/_slider.sass */
  .homepage-slider img {
    width: 100%;
    height: auto; }
  /* line 11, ../sass/modules/_slider.sass */
  .homepage-slider .custom-control-nav {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 48.87892%;
    height: 0;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -o-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10000);
    opacity: 100; }
    /* line 23, ../sass/modules/_slider.sass */
    .homepage-slider .custom-control-nav ol {
      position: relative;
      display: inline-block;
      background-color: #4d4d4d;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 0 0.71429em;
      -webkit-border-radius: 1.07143em;
      -moz-border-radius: 1.07143em;
      -ms-border-radius: 1.07143em;
      -o-border-radius: 1.07143em;
      border-radius: 1.07143em;
      top: -2.5em; }
    /* line 32, ../sass/modules/_slider.sass */
    .homepage-slider .custom-control-nav li {
      display: inline-block;
      position: relative; }
    /* line 36, ../sass/modules/_slider.sass */
    .homepage-slider .custom-control-nav a {
      position: relative;
      display: block;
      width: 1.85714em;
      height: 1.85714em;
      text-indent: -999em;
      cursor: pointer; }
      /* line 44, ../sass/modules/_slider.sass */
      .homepage-slider .custom-control-nav a:after {
        content: "";
        position: absolute;
        top: 0.57143em;
        left: 0.57143em;
        width: 0.71429em;
        height: 0.71429em;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        background-color: white; }
      /* line 55, ../sass/modules/_slider.sass */
      .homepage-slider .custom-control-nav a.flex-active:after {
        background-color: #009566; }
    @media screen and (min-width: 640px) {
      /* line 11, ../sass/modules/_slider.sass */
      .homepage-slider .custom-control-nav {
        padding-top: 39.97195%; } }
    @media screen and (min-width: 800px) {
      /* line 11, ../sass/modules/_slider.sass */
      .homepage-slider .custom-control-nav {
        top: auto;
        padding-top: 0;
        bottom: 1.42857em;
        height: auto; }
        /* line 67, ../sass/modules/_slider.sass */
        .homepage-slider .custom-control-nav ol {
          top: 0; } }
  /* line 70, ../sass/modules/_slider.sass */
  .homepage-slider .custom-control-nav-hidden {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }

/* line 1, ../sass/modules/_slider-caption.sass */
.slider-caption {
  position: relative;
  z-index: 3;
  width: 100%; }
  @media screen and (min-width: 800px) {
    /* line 1, ../sass/modules/_slider-caption.sass */
    .slider-caption {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0; }
      /* line 12, ../sass/modules/_slider-caption.sass */
      .slider-caption:after {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; } }

/* line 19, ../sass/modules/_slider-caption.sass */
.slider-caption__align-bottom {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 100%; }
  @media screen and (min-width: 800px) {
    /* line 19, ../sass/modules/_slider-caption.sass */
    .slider-caption__align-bottom {
      padding-top: 0;
      margin-bottom: 7.14286em;
      padding-top: 1.07143em;
      width: 99%;
      left: 0.5%; }
      /* line 32, ../sass/modules/_slider-caption.sass */
      .slider-caption__align-bottom .width-restrict {
        padding: 0 4.28571em; } }

/* line 35, ../sass/modules/_slider-caption.sass */
.slider-caption__content {
  position: relative;
  padding: 1.07143em 0.71429em 0;
  text-align: center; }
  @media screen and (min-width: 800px) {
    /* line 35, ../sass/modules/_slider-caption.sass */
    .slider-caption__content {
      background-color: #666666;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 2.14286em 1.42857em 2.85714em;
      color: white; } }

/* line 47, ../sass/modules/_slider-caption.sass */
.slider-caption__title {
  margin-bottom: 0.55556em;
  line-height: 1.1em;
  font-size: 1.28571em;
  weight: 300; }
  @media screen and (min-width: 800px) {
    /* line 47, ../sass/modules/_slider-caption.sass */
    .slider-caption__title {
      font-size: 2.28571em; } }

/* line 1, ../sass/modules/_mobile-navigation.sass */
.mobile-site-header {
  background-color: #cccccc;
  color: #333333;
  border-bottom: 1px solid #333333; }
  /* line 6, ../sass/modules/_mobile-navigation.sass */
  .mobile-site-header a {
    color: #333333; }
  /* line 9, ../sass/modules/_mobile-navigation.sass */
  .mobile-site-header ._logo {
    background: url("../img/grizzly-icon-new.jpg") left top no-repeat;
    background-size: 100% 100%;
    float: left;
    width: 42px;
    height: 42px;
    margin: 1.14286em 0 0 1em;
    display: inline-block; }
    @media screen and (min-width: 700px) {
      /* line 9, ../sass/modules/_mobile-navigation.sass */
      .mobile-site-header ._logo {
        margin: 0.14286em 0 0 0.14286em; } }
  @media screen and (min-width: 700px) {
    /* line 1, ../sass/modules/_mobile-navigation.sass */
    .mobile-site-header {
      padding: 10px; } }

/* line 25, ../sass/modules/_mobile-navigation.sass */
.mobile-site-header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  @media screen and (min-width: 700px) {
    /* line 25, ../sass/modules/_mobile-navigation.sass */
    .mobile-site-header-fixed {
      padding: 0;
      height: 46px; } }

/* line 37, ../sass/modules/_mobile-navigation.sass */
.m-main-navigation {
  position: static;
  float: right; }
  @media screen and (min-width: 700px) {
    /* line 37, ../sass/modules/_mobile-navigation.sass */
    .m-main-navigation {
      position: relative; } }
  /* line 44, ../sass/modules/_mobile-navigation.sass */
  .m-main-navigation .menu-toggle {
    display: block;
    color: inherit;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    padding: 1.14286em 1em 0.85714em; }
    /* line 50, ../sass/modules/_mobile-navigation.sass */
    .m-main-navigation .menu-toggle i {
      position: relative;
      top: 3px;
      line-height: 1em; }
    @media screen and (min-width: 700px) {
      /* line 44, ../sass/modules/_mobile-navigation.sass */
      .m-main-navigation .menu-toggle {
        display: none; } }
  @media screen and (min-width: 0) and (max-width: 700px) {
    /* line 59, ../sass/modules/_mobile-navigation.sass */
    .m-main-navigation ul {
      z-index: 20;
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #cccccc;
      max-height: 0;
      overflow: hidden;
      -webkit-transition-property: max-height;
      -moz-transition-property: max-height;
      -o-transition-property: max-height;
      transition-property: max-height;
      -webkit-transition-duration: 0.25s;
      -moz-transition-duration: 0.25s;
      -o-transition-duration: 0.25s;
      transition-duration: 0.25s; } }
  /* line 71, ../sass/modules/_mobile-navigation.sass */
  .m-main-navigation li {
    border-top: 1px solid #dadada; }
    @media screen and (min-width: 0) and (max-width: 700px) {
      /* line 71, ../sass/modules/_mobile-navigation.sass */
      .m-main-navigation li {
        position: relative;
        width: 100%;
        display: block; } }
    @media screen and (min-width: 700px) {
      /* line 71, ../sass/modules/_mobile-navigation.sass */
      .m-main-navigation li {
        display: inline-block;
        border-top: none; } }
    /* line 83, ../sass/modules/_mobile-navigation.sass */
    .m-main-navigation li a {
      display: block;
      line-height: 1.2em;
      font-size: 1.42857em;
      padding: 0.57143em; }
      @media screen and (min-width: 700px) {
        /* line 83, ../sass/modules/_mobile-navigation.sass */
        .m-main-navigation li a {
          font-size: 1.14286em; } }

/* line 1, ../sass/modules/_button.sass */
.button {
  position: relative;
  display: inline-block;
  padding: 0.58em 1em;
  background-color: #009566;
  color: white !important;
  margin-right: 0.71429em;
  text-decoration: none !important; }
  /* line 10, ../sass/modules/_button.sass */
  .no-touch .button {
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s; }
  /* line 14, ../sass/modules/_button.sass */
  .is-active .button, .no-touch .button:hover, .button.active {
    background-color: #007f57; }
  /* line 19, ../sass/modules/_button.sass */
  .button.grey {
    background-color: #666666 !important; }
    /* line 22, ../sass/modules/_button.sass */
    .no-touch .button.grey:hover, .button.grey.active {
      background-color: #575757 !important; }
  /* line 26, ../sass/modules/_button.sass */
  .button.large {
    padding: 0.9em 1em; }
  /* line 29, ../sass/modules/_button.sass */
  .button.arrow {
    padding-right: 3.21429em;
    cursor: pointer; }
    /* line 33, ../sass/modules/_button.sass */
    .button.arrow:before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin-left: 1px;
      width: 2.14286em;
      background-color: inherit;
      border-left: 1px solid white; }
    /* line 44, ../sass/modules/_button.sass */
    .button.arrow:after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      margin-top: -0.21429em;
      margin-right: 0.71429em;
      border: 0.35714em solid transparent;
      border-top: 0.57143em solid white; }
  /* line 56, ../sass/modules/_button.sass */
  .button.plus {
    padding-left: 3.14286em; }
    /* line 59, ../sass/modules/_button.sass */
    .button.plus span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2.14286em;
      border-right: 1px solid white; }
      /* line 68, ../sass/modules/_button.sass */
      .button.plus span:after, .button.plus span:before {
        content: "";
        position: absolute; }
      /* line 73, ../sass/modules/_button.sass */
      .button.plus span:after {
        left: 1em;
        top: 0.35714em;
        bottom: 0.35714em;
        width: 0.14286em;
        background-color: white; }
      /* line 80, ../sass/modules/_button.sass */
      .button.plus span:before {
        top: 1em;
        left: 0.35714em;
        right: 0.35714em;
        height: 0.14286em;
        background-color: white; }
    /* line 87, ../sass/modules/_button.sass */
    .button.plus.large {
      padding-left: 3.85714em; }
      /* line 90, ../sass/modules/_button.sass */
      .button.plus.large span {
        width: 2.85714em; }
        /* line 93, ../sass/modules/_button.sass */
        .button.plus.large span:after {
          left: 1.35714em;
          top: 0.42857em;
          bottom: 0.42857em;
          width: 0.14286em; }
        /* line 99, ../sass/modules/_button.sass */
        .button.plus.large span:before {
          left: 0.42857em;
          top: 1.35714em;
          right: 0.42857em;
          height: 0.14286em; }

/* line 1, ../sass/modules/_inputs.sass */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
textarea {
  outline: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 10px;
  border: 0;
  border-radius: 0;
  background: #eeeeee;
  font-size: 100%;
  line-height: 24px;
  -webkit-appearance: none;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out; }

/* line 23, ../sass/modules/_inputs.sass */
input[type="submit"] {
  cursor: pointer;
  margin: 0;
  padding: 13px 20px;
  border: 2px solid #444444;
  border-radius: 0;
  background-color: #444444;
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-appearance: none;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out; }

/* line 1, ../sass/modules/_panel-one.sass */
.panel-one {
  background-color: #cccccc;
  color: #333333; }

/* line 5, ../sass/modules/_panel-one.sass */
.panel-one__block-left {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em; }
  /* line 9, ../sass/modules/_panel-one.sass */
  .panel-one__block-left .button {
    margin-top: 0.85714em; }
  @media screen and (min-width: 700px) {
    /* line 5, ../sass/modules/_panel-one.sass */
    .panel-one__block-left {
      width: 50%;
      padding-left: 1em;
      padding-right: 1em;
      float: left;
      padding-top: 1em; } }

/* line 17, ../sass/modules/_panel-one.sass */
.panel-one__block-right {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  margin-bottom: 1em; }
  /* line 22, ../sass/modules/_panel-one.sass */
  .panel-one__block-right img {
    margin: 0 auto; }
  @media screen and (min-width: 700px) {
    /* line 17, ../sass/modules/_panel-one.sass */
    .panel-one__block-right {
      width: 50%;
      padding-left: 1em;
      padding-right: 1em;
      float: right; } }

/* line 1, ../sass/modules/_panel-two.sass */
.panel-two {
  background-color: #333333;
  color: #cccccc;
  min-height: inherit;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em; }
  /* line 7, ../sass/modules/_panel-two.sass */
  .panel-two .button {
    margin-top: 0.85714em; }

/* line 10, ../sass/modules/_panel-two.sass */
.panel-two__inner {
  padding: 5em 0;
  text-align: center; }
  @media screen and (min-width: 700px) {
    /* line 10, ../sass/modules/_panel-two.sass */
    .panel-two__inner {
      margin: 0 auto;
      width: 75%; } }

/* line 1, ../sass/modules/_panel-contact.sass */
.panel-contact {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #666666; }
  /* line 5, ../sass/modules/_panel-contact.sass */
  .panel-contact input {
    margin-bottom: 1em; }
  /* line 8, ../sass/modules/_panel-contact.sass */
  .panel-contact textarea {
    resize: none;
    margin-bottom: 1em; }

/* line 13, ../sass/modules/_panel-contact.sass */
.panel-contact__content {
  color: white;
  padding: 2em 0;
  text-align: center; }
  @media screen and (min-width: 700px) {
    /* line 13, ../sass/modules/_panel-contact.sass */
    .panel-contact__content {
      margin: 0 auto;
      width: 75%; } }

@media screen and (min-width: 700px) {
  /* line 25, ../sass/modules/_panel-contact.sass */
  .panel-contact__fields-col {
    width: 33.33333%;
    padding-left: 1em;
    padding-right: 1em;
    float: left; } }

/* line 1, ../sass/modules/_panel-instagram.sass */
.panel-instagram {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #333333; }
  /* line 5, ../sass/modules/_panel-instagram.sass */
  .panel-instagram img {
    width: 90%;
    margin: 0 auto; }
  /* line 9, ../sass/modules/_panel-instagram.sass */
  .panel-instagram h2 {
    color: white;
    text-align: center;
    font-size: 2.28571em;
    margin-bottom: 1.28571em; }

/* line 15, ../sass/modules/_panel-instagram.sass */
.panel-instagram__inner {
  padding: 2em 0; }

/* line 19, ../sass/modules/_panel-instagram.sass */
.panel-instagram__block {
  margin-bottom: 1em; }
  @media screen and (min-width: 550px) {
    /* line 19, ../sass/modules/_panel-instagram.sass */
    .panel-instagram__block {
      width: 50%;
      padding-left: 1em;
      padding-right: 1em;
      float: left; }
      /* line 26, ../sass/modules/_panel-instagram.sass */
      .panel-instagram__block img {
        width: 100%; } }
  @media screen and (min-width: 800px) {
    /* line 19, ../sass/modules/_panel-instagram.sass */
    .panel-instagram__block {
      width: 33.33333%;
      padding-left: 1em;
      padding-right: 1em; } }

/* line 1, ../sass/modules/_panel-social.sass */
.panel-social {
  background-color: #666666;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em; }
  /* line 5, ../sass/modules/_panel-social.sass */
  .panel-social .fa-ul {
    margin-top: 0.85714em;
    margin-left: 0;
    text-align: center; }
    /* line 10, ../sass/modules/_panel-social.sass */
    .panel-social .fa-ul li {
      float: none;
      display: inline-block;
      margin-right: 0.85714em; }
      @media screen and (min-width: 800px) {
        /* line 10, ../sass/modules/_panel-social.sass */
        .panel-social .fa-ul li {
          margin-right: 0.14286em; } }
      @media screen and (min-width: 1180px) {
        /* line 10, ../sass/modules/_panel-social.sass */
        .panel-social .fa-ul li {
          margin-right: 0.85714em; } }
      /* line 21, ../sass/modules/_panel-social.sass */
      .panel-social .fa-ul li:last-child {
        margin-right: 0; }
      /* line 24, ../sass/modules/_panel-social.sass */
      .panel-social .fa-ul li a {
        color: #cccccc; }
        /* line 27, ../sass/modules/_panel-social.sass */
        .panel-social .fa-ul li a:hover {
          color: #333333; }
        @media screen and (min-width: 800px) {
          /* line 31, ../sass/modules/_panel-social.sass */
          .panel-social .fa-ul li a i {
            font-size: 2.5em; } }

/* line 34, ../sass/modules/_panel-social.sass */
.panel-social__inner {
  padding: 2em 0; }

/* line 37, ../sass/modules/_panel-social.sass */
.panel-social__block {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #cccccc; }
  @media screen and (min-width: 700px) {
    /* line 37, ../sass/modules/_panel-social.sass */
    .panel-social__block {
      width: 50%;
      padding-left: 1em;
      padding-right: 1em;
      float: left; } }
  @media screen and (min-width: 800px) {
    /* line 37, ../sass/modules/_panel-social.sass */
    .panel-social__block {
      width: 25%;
      padding-left: 1em;
      padding-right: 1em;
      border-bottom: none; } }

/* line 51, ../sass/modules/_panel-social.sass */
.panel-social__social-block {
  border-bottom: none;
  padding-bottom: 0; }
  /* line 55, ../sass/modules/_panel-social.sass */
  .panel-social__social-block img {
    margin: 0 auto; }

@media screen and (min-width: 700px) {
  /* line 60, ../sass/modules/_panel-social.sass */
  .panel-social__third-block {
    border-bottom: none; } }
/* line 1, ../sass/modules/_footer.sass */
footer {
  background-color: #cccccc;
  color: #333333; }

/* line 5, ../sass/modules/_footer.sass */
.footer__inner {
  text-align: center;
  padding: 1em 0; }
  @media screen and (min-width: 700px) {
    /* line 5, ../sass/modules/_footer.sass */
    .footer__inner {
      text-align: left; } }

/* line 13, ../sass/modules/_footer.sass */
.footer__left-block {
  margin-bottom: 0.5em; }
  @media screen and (min-width: 700px) {
    /* line 13, ../sass/modules/_footer.sass */
    .footer__left-block {
      width: 50%;
      padding-left: 1em;
      padding-right: 1em;
      float: left; } }

@media screen and (min-width: 700px) {
  /* line 20, ../sass/modules/_footer.sass */
  .footer__right-block {
    width: 50%;
    padding-left: 1em;
    padding-right: 1em;
    float: right;
    text-align: right; } }
